body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
  }
  
  /* 중앙 */
  .container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  /* 헤더 */
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  /* 설명  */
  .description {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* 버튼  */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00c300;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* 이미지 스타일 */
  figure img {
    width: 100%;
    max-width: 800px; /* 이미지 최대 크기 제한 */
    height: auto;
    display: block;
    margin: 0 auto; /* 이미지 가운데 정렬 */
    border-radius: 8px;
  }
  
  footer p {
    font-size: 0.8em;
    color: #777;
    margin-top: 40px;
  }