@import url(default.css);
@import url(font.css);
@import url(common.css);

.tit_font {
    font-family: "Eulyoo1945";
    font-weight: 800;
    line-height: 1.4;
}

header {
    position: absolute;/* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%; /* wrap기준 100% */
    height: 100px;
    color: #fff;
    display: flex; /* logo, gnb, tnb 좌우로 배치 */
    justify-content: space-between; /* 좌우 양쪽끝*/
    align-items: center; /*위아래 가운데 */
    padding: 0 20px; /* logo, tnb 좌우여백 */
}
header .logo a {
    display: block;
    font-size: 0; /* 이미지 하단에 존재하는 행간 삭제 */
    line-height: 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul {
    display: flex; /* li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-size: 20px;
    line-height: 100px;
    /* header 높이와 같은 값을 행간으로 줌 */
    padding: 0 21px;
}
header .tnb {
    display: flex; /* mypage, searchs 좌우 배치 */
    gap: 8px;
}
header .tnb .mypage,
header .tnb .search {
    width: 52px;
    height: 44px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
header .tnb .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='34' viewBox='0 0 33 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_489' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='34'%3E%3Crect y='0.470581' width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_489)'%3E%3Cpath d='M8.04375 23.9831C9.2125 23.0893 10.5187 22.3846 11.9625 21.869C13.4062 21.3534 14.9187 21.0956 16.5 21.0956C18.0812 21.0956 19.5937 21.3534 21.0375 21.869C22.4812 22.3846 23.7875 23.0893 24.9562 23.9831C25.7583 23.0435 26.3828 21.9779 26.8297 20.7862C27.2766 19.5945 27.5 18.3227 27.5 16.9706C27.5 13.9227 26.4286 11.3274 24.2859 9.18464C22.1432 7.04194 19.5479 5.97058 16.5 5.97058C13.4521 5.97058 10.8568 7.04194 8.71406 9.18464C6.57135 11.3274 5.5 13.9227 5.5 16.9706C5.5 18.3227 5.72344 19.5945 6.17031 20.7862C6.61719 21.9779 7.24167 23.0435 8.04375 23.9831ZM16.5 18.3456C15.1479 18.3456 14.0078 17.8815 13.0797 16.9534C12.1516 16.0253 11.6875 14.8852 11.6875 13.5331C11.6875 12.181 12.1516 11.0409 13.0797 10.1128C14.0078 9.18464 15.1479 8.72058 16.5 8.72058C17.8521 8.72058 18.9922 9.18464 19.9203 10.1128C20.8484 11.0409 21.3125 12.181 21.3125 13.5331C21.3125 14.8852 20.8484 16.0253 19.9203 16.9534C18.9922 17.8815 17.8521 18.3456 16.5 18.3456ZM16.5 30.7206C14.5979 30.7206 12.8104 30.3596 11.1375 29.6378C9.46458 28.9159 8.00937 27.9362 6.77187 26.6987C5.53437 25.4612 4.55469 24.006 3.83281 22.3331C3.11094 20.6602 2.75 18.8727 2.75 16.9706C2.75 15.0685 3.11094 13.281 3.83281 11.6081C4.55469 9.93516 5.53437 8.47996 6.77187 7.24246C8.00937 6.00496 9.46458 5.02527 11.1375 4.30339C12.8104 3.58152 14.5979 3.22058 16.5 3.22058C18.4021 3.22058 20.1896 3.58152 21.8625 4.30339C23.5354 5.02527 24.9906 6.00496 26.2281 7.24246C27.4656 8.47996 28.4453 9.93516 29.1672 11.6081C29.8891 13.281 30.25 15.0685 30.25 16.9706C30.25 18.8727 29.8891 20.6602 29.1672 22.3331C28.4453 24.006 27.4656 25.4612 26.2281 26.6987C24.9906 27.9362 23.5354 28.9159 21.8625 29.6378C20.1896 30.3596 18.4021 30.7206 16.5 30.7206ZM16.5 27.9706C17.7146 27.9706 18.8604 27.793 19.9375 27.4378C21.0146 27.0826 22 26.5727 22.8937 25.9081C22 25.2435 21.0146 24.7336 19.9375 24.3784C18.8604 24.0232 17.7146 23.8456 16.5 23.8456C15.2854 23.8456 14.1396 24.0232 13.0625 24.3784C11.9854 24.7336 11 25.2435 10.1062 25.9081C11 26.5727 11.9854 27.0826 13.0625 27.4378C14.1396 27.793 15.2854 27.9706 16.5 27.9706ZM16.5 15.5956C17.0958 15.5956 17.5885 15.4008 17.9781 15.0112C18.3677 14.6216 18.5625 14.1289 18.5625 13.5331C18.5625 12.9372 18.3677 12.4445 17.9781 12.055C17.5885 11.6654 17.0958 11.4706 16.5 11.4706C15.9042 11.4706 15.4115 11.6654 15.0219 12.055C14.6323 12.4445 14.4375 12.9372 14.4375 13.5331C14.4375 14.1289 14.6323 14.6216 15.0219 15.0112C15.4115 15.4008 15.9042 15.5956 16.5 15.5956Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='34' viewBox='0 0 33 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_492' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='34'%3E%3Crect y='0.470558' width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_492)'%3E%3Cpath d='M26.95 29.3456L18.2875 20.6831C17.6 21.2331 16.8094 21.6685 15.9156 21.9893C15.0219 22.3101 14.0708 22.4706 13.0625 22.4706C10.5646 22.4706 8.45052 21.6055 6.72031 19.8753C4.9901 18.145 4.125 16.031 4.125 13.5331C4.125 11.0351 4.9901 8.92109 6.72031 7.19088C8.45052 5.46067 10.5646 4.59557 13.0625 4.59557C15.5604 4.59557 17.6745 5.46067 19.4047 7.19088C21.1349 8.92109 22 11.0351 22 13.5331C22 14.5414 21.8396 15.4924 21.5187 16.3862C21.1979 17.2799 20.7625 18.0706 20.2125 18.7581L28.875 27.4206L26.95 29.3456ZM13.0625 19.7206C14.7812 19.7206 16.2422 19.119 17.4453 17.9159C18.6484 16.7128 19.25 15.2518 19.25 13.5331C19.25 11.8143 18.6484 10.3534 17.4453 9.15025C16.2422 7.94713 14.7812 7.34557 13.0625 7.34557C11.3437 7.34557 9.88281 7.94713 8.67969 9.15025C7.47656 10.3534 6.875 11.8143 6.875 13.5331C6.875 15.2518 7.47656 16.7128 8.67969 17.9159C9.88281 19.119 11.3437 19.7206 13.0625 19.7206Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
            header {
                height: 37px;
                padding: 0 0 0 20px; /* logo, tnb 좌우여백 */
            }
            header .logo a img {
                width: 143px;
            }
            header .gnb .gnb_open {
                display: block; /* none -> block 숨김요소 보이게 */
                width: 37px; /* header 높이와 동일 */
                height: 37px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_314' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_314)'%3E%3Cpath d='M3 7V5H21V7H3ZM3 19V17H21V19H3ZM3 13V11H21V13H3Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap {
                display: none; /* 숨김처리 */
            }
            header .tnb {
                display: none; /* 숨김처리 */
            }
            header .tnb .mypage,
            header .tnb .search {
                width: 52px;
                height: 44px;
                display: block;
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .tnb .mypage {
                background-image: url("data:image/svg+xml,%3Csvg width='33' height='34' viewBox='0 0 33 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_489' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='34'%3E%3Crect y='0.470581' width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_489)'%3E%3Cpath d='M8.04375 23.9831C9.2125 23.0893 10.5187 22.3846 11.9625 21.869C13.4062 21.3534 14.9187 21.0956 16.5 21.0956C18.0812 21.0956 19.5937 21.3534 21.0375 21.869C22.4812 22.3846 23.7875 23.0893 24.9562 23.9831C25.7583 23.0435 26.3828 21.9779 26.8297 20.7862C27.2766 19.5945 27.5 18.3227 27.5 16.9706C27.5 13.9227 26.4286 11.3274 24.2859 9.18464C22.1432 7.04194 19.5479 5.97058 16.5 5.97058C13.4521 5.97058 10.8568 7.04194 8.71406 9.18464C6.57135 11.3274 5.5 13.9227 5.5 16.9706C5.5 18.3227 5.72344 19.5945 6.17031 20.7862C6.61719 21.9779 7.24167 23.0435 8.04375 23.9831ZM16.5 18.3456C15.1479 18.3456 14.0078 17.8815 13.0797 16.9534C12.1516 16.0253 11.6875 14.8852 11.6875 13.5331C11.6875 12.181 12.1516 11.0409 13.0797 10.1128C14.0078 9.18464 15.1479 8.72058 16.5 8.72058C17.8521 8.72058 18.9922 9.18464 19.9203 10.1128C20.8484 11.0409 21.3125 12.181 21.3125 13.5331C21.3125 14.8852 20.8484 16.0253 19.9203 16.9534C18.9922 17.8815 17.8521 18.3456 16.5 18.3456ZM16.5 30.7206C14.5979 30.7206 12.8104 30.3596 11.1375 29.6378C9.46458 28.9159 8.00937 27.9362 6.77187 26.6987C5.53437 25.4612 4.55469 24.006 3.83281 22.3331C3.11094 20.6602 2.75 18.8727 2.75 16.9706C2.75 15.0685 3.11094 13.281 3.83281 11.6081C4.55469 9.93516 5.53437 8.47996 6.77187 7.24246C8.00937 6.00496 9.46458 5.02527 11.1375 4.30339C12.8104 3.58152 14.5979 3.22058 16.5 3.22058C18.4021 3.22058 20.1896 3.58152 21.8625 4.30339C23.5354 5.02527 24.9906 6.00496 26.2281 7.24246C27.4656 8.47996 28.4453 9.93516 29.1672 11.6081C29.8891 13.281 30.25 15.0685 30.25 16.9706C30.25 18.8727 29.8891 20.6602 29.1672 22.3331C28.4453 24.006 27.4656 25.4612 26.2281 26.6987C24.9906 27.9362 23.5354 28.9159 21.8625 29.6378C20.1896 30.3596 18.4021 30.7206 16.5 30.7206ZM16.5 27.9706C17.7146 27.9706 18.8604 27.793 19.9375 27.4378C21.0146 27.0826 22 26.5727 22.8937 25.9081C22 25.2435 21.0146 24.7336 19.9375 24.3784C18.8604 24.0232 17.7146 23.8456 16.5 23.8456C15.2854 23.8456 14.1396 24.0232 13.0625 24.3784C11.9854 24.7336 11 25.2435 10.1062 25.9081C11 26.5727 11.9854 27.0826 13.0625 27.4378C14.1396 27.793 15.2854 27.9706 16.5 27.9706ZM16.5 15.5956C17.0958 15.5956 17.5885 15.4008 17.9781 15.0112C18.3677 14.6216 18.5625 14.1289 18.5625 13.5331C18.5625 12.9372 18.3677 12.4445 17.9781 12.055C17.5885 11.6654 17.0958 11.4706 16.5 11.4706C15.9042 11.4706 15.4115 11.6654 15.0219 12.055C14.6323 12.4445 14.4375 12.9372 14.4375 13.5331C14.4375 14.1289 14.6323 14.6216 15.0219 15.0112C15.4115 15.4008 15.9042 15.5956 16.5 15.5956Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .tnb .search {
                background-image: url("data:image/svg+xml,%3Csvg width='33' height='34' viewBox='0 0 33 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_492' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='34'%3E%3Crect y='0.470558' width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_492)'%3E%3Cpath d='M26.95 29.3456L18.2875 20.6831C17.6 21.2331 16.8094 21.6685 15.9156 21.9893C15.0219 22.3101 14.0708 22.4706 13.0625 22.4706C10.5646 22.4706 8.45052 21.6055 6.72031 19.8753C4.9901 18.145 4.125 16.031 4.125 13.5331C4.125 11.0351 4.9901 8.92109 6.72031 7.19088C8.45052 5.46067 10.5646 4.59557 13.0625 4.59557C15.5604 4.59557 17.6745 5.46067 19.4047 7.19088C21.1349 8.92109 22 11.0351 22 13.5331C22 14.5414 21.8396 15.4924 21.5187 16.3862C21.1979 17.2799 20.7625 18.0706 20.2125 18.7581L28.875 27.4206L26.95 29.3456ZM13.0625 19.7206C14.7812 19.7206 16.2422 19.119 17.4453 17.9159C18.6484 16.7128 19.25 15.2518 19.25 13.5331C19.25 11.8143 18.6484 10.3534 17.4453 9.15025C16.2422 7.94713 14.7812 7.34557 13.0625 7.34557C11.3437 7.34557 9.88281 7.94713 8.67969 9.15025C7.47656 10.3534 6.875 11.8143 6.875 13.5331C6.875 15.2518 7.47656 16.7128 8.67969 17.9159C9.88281 19.119 11.3437 19.7206 13.0625 19.7206Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
}/*@media*/

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual .wrapper {
    height: 100vh; /* 브라우저의 높이에 맞춰서 */
    min-height: 535px; /* 최소높이 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual h2 {
    font-size: 100px;
    margin: 0 0 30px 0;
}
.visual p {
    font-size: 40px;
    margin: 0 0 10vh 0;
}
@media screen and (max-width:640px){
            .visual .wrapper {
                height: 600px; /* 브라우저의 높이에 맞춰서 */
                min-height: 0;
            }
            .visual h2 {
                font-size: 45px;
                margin: 0 0 15px 0;
            }
            .visual p {
                font-size: 16px;
                margin: 0 0 92px 0;
            }
}/*@media*/

.book {
    margin: 143px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    display: flex; /* tit, list 좌우 배치 */
    justify-content: space-between;
}
.book .book_wrap .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 0 0 35px 0;
}
.book .book_wrap .list {
    width: calc(100% - 258px);
    /* book_wrap의 넓이를 100%로 하고 왼쪽 tit의 넓이를 빼기 */
    overflow-x: hidden;
}
.book .book_wrap .list ul {
    display: flex; /* li를 좌우로 */
    gap: 20px;
    width: 1500px;
    /*
      li의 넓이 * li의 갯수 = 230*6 = 1380
      사이의 여백 * li의 갯수 = 20*6 = 120
      1380 + 120 = 1500
    */
}
.book .book_wrap .list ul li {
    width: 230px;
}
.book .book_wrap .list ul li a {
    display: block;
}
.book .book_wrap .list ul li a .photo {
    height: 100%;
}
.book .book_wrap .list ul li a .photo img {
    width: 100%;
    /* 높이는 비율에 맞게 알아서
       - 책은 이미지 전체가 나와야 하기때문에 object-fit 인증 */
}


footer {
    margin: 500px 0 0 0;
}