@import url(default.css);
@import url(res_common.css);
@import url(font.css);

.news {
    margin: 200px 0 0 0;
}
.news .wrapper {
    display: flex; /* h2/list 좌우로배치 - more는 absoulte라 계산X*/
    justify-content: space-between;
    position: relative; /* more의 정렬의 기준 */
}
.news h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
}
.news .list {
    width: 66.03%;
    /*
      넓이는 %로 계산 - 콘센트 넓이에서 몇%로 계산
      832 / 1260 * 100 = 66.03
    */
}
.news .list ul li {
    border-bottom: 1px solid #ccc;
}
.news .list ul li a {
    display: flex; /* txt/photo 좌우로 배치 */
    justify-content: space-between; /* 양끝 */
    align-items: center; /* 위아래가운데*/
    padding: 20px 0;
}
.news .list ul li a .txt {
    width: calc(100% - 214px);
    /* 사진의 넓이는 고정,
       제목이 들어갈 수 있는 넓이는 브라우저 넓이에 따라 바뀜
       글자와 사진 전체의 넓이 100% - 사진의 넓이와 여백값px */
}
.news .list ul li a .txt strong {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    display: block;
    margin: 0 0 10px 0;

    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .list ul li a .photo {
    width: 233px;
    height: 159px;
    overflow: hidden;
    border-radius: 0;
}
.news .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 0;
    top: 70px;
    padding: 3px 26px 3px 9px;
    border: 1px solid #1d1d1d;
}
.news .more::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬*/
    right: 6px;
    top: 4px;
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_15)'%3E%3Cpath d='M11 13H5V11H11V5H13V11H19V13H13V19H11V13Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* 영역에 맞게 아이콘 안짤리게 꽉채우기 */
    transition: 1s; /* 오버후에 속성이 변경되면 1초동안 천천히 실행 */
}
.news .more:hover:after {
    transform: rotate(360deg);
}
@media screen and (max-width:640px){
                /* 브라우저 사이즈가 640px 이하일때만 적용되는 스타일 */
                .news {
                    margin: 98px 0 0 0;
                }
                .news .wrapper {
                    display: block; /* flex 안함 */
                    justify-content: space-between;
                }
                .news h2 {
                    font-size: 25px;
                }
                .news .list {
                    width: auto;
                    /* 원래 속성대로 주기 - div 블럭요소라서 100% 들어감 */
                    margin: 35px 0 0 0;
                }
                .news .list ul li a {
                    align-items: flex-start; /* 위 정렬 */
                    padding: 19px 0;
                }
                .news .list ul li a .txt {
                    width: calc(100% - 110px);
                }
                .news .list ul li a .txt strong {
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 1.2;
                    margin: 0 0 8px 0;
                
                    /* 1줄제한 -> 무제한 */
                    white-space: normal; /* nowrap 해제 */
                    overflow: visible; /* hidden 해제 */
                }
                .news .list ul li a .photo {
                    width: 96px;
                    height: 66px;
                    border-radius: 8px;
                }
                .news .more {
                    left: auto;
                    right: 0;
                    /* left 정렬에서 right 정렬로 변경하려면
                       left:auto;로 해제하고 right를 줘야함 */
                    top: 4px;
                    font-size: 12px;
                    padding: 0 25px 0 10px;
                }
                .news .more::after {
                    right: 6px;
                    top: 1px;
                    width: 16px;
                    height: 16px;
                }
} /* @media */

.global {
    margin: 221px 0 0 0;
}
.global .wrapper {
    display: flex; /* txt/photo 좌우배치 */
    justify-content: space-between;
}
.global .txt {
    width: calc(50% - 12px);
    /* 2개니까 50%에 둘 사이 여백의 절반 */
    padding: 40px 0;
    /* 왼쪽글자의 높이에서 padding만큼 오른쪽 이미지가 늘어남 */
}
.global .txt h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 30px 0;
    position: relative; /* after 정렬의 기준 */
}
.global .txt h2::after {
    content: "";
    position: absolute; /* h2를 기준으로 정렬 */
    left: 0;
    bottom: -16px;
    width: 100px;
    height: 1px;
    background-color: #ccc;
}
.global .photo {
    width: calc(50% - 12px);
    overflow: hidden;
    border-radius: 20px;
}
.global .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}/* @media */
@media screen and (max-width:640px){
            .global {
                margin: 58px 0 0 0;
            }
            .global .txt {
                width: calc(50% - 8px);
                padding: 20px 0;
                /* 왼쪽글자의 높이에서 padding만큼 오른쪽 이미지가 늘어남 */
            }
            .global .txt h2 {
                font-size: 17px;
                margin: 0 0 20px 0;
            }
            .global .txt h2::after {
                bottom: -16px;
                width: 40px;
            }
            .global .txt h2 br {
                display: none; /* br태그로 인한 줄바꿈 삭제 */
            }
            .global .txt p br {
                display: none;
            }
            .global .photo {
                width: calc(50% - 8px);
                border-radius: 10px;
            }
            .global .photo img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
}
body {
    margin: 0 0 400px 0;
}