@import url(default.css);
@import url(font.css);
@import url(common_full.css);

.visual .popup .popup_wrap .popup_item {
    height: 800px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .popup .popup_wrap .popup_item.bg1 {
    background-image: url(../images/popup01.jpg);
}
.visual .popup .popup_wrap .popup_item.bg2 {
    background-image: url(../images/popup02.jpg);
}
.visual .popup .popup_wrap .popup_item.bg3 {
    background-image: url(../images/popup03.jpg);
}
.visual .popup .popup_wrap .popup_item h3 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    padding: 324px 0 20px 0;
}

.visual .slick-prev,
.visual .slick-next {
    position: absolute; /* popup_wrap으로 기준 정렬 */
    left: 20px;
    top: 368px;
    z-index: 10;
    width: 30px;
    height: 50px;
    color: transparent; /* 글자를 안보이게 */
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_113_153' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_113_153)'%3E%3Cpath d='M33.3333 45.8333L12.5 25L33.3333 4.16663L37.0312 7.86454L19.8958 25L37.0312 42.1354L33.3333 45.8333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .slick-next {
    left: auto;
    right: 20px;
    transform: rotate(180deg);
}

.visual ul.slick-dots {
    position: absolute; /* popup_wrap을 기준으로 정렬 */
    left: 0;
    bottom: 40px;
    width: 100%;
    display: flex; /* li를 좌우로 배치 */
    justify-content: center; /* 가운데 */
    gap: 5px;
}
.visual ul.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: transparent; /* 글자색 투명 - 글자 안보이게 */
}
.visual ul.slick-dots li.slick-active button {
    background-color: #fff;
}
.visual .btn_wrap .ctrl_stop {
    display: block;
    width: 50px;
    height: 50px;
    background-color: red;
}
.visual .btn_wrap .ctrl_play {
    display: block;
    width: 50px;
    height: 50px;
    background-color: green;
}
@media screen and (max-width:1440px){
    .visual .slick-prev,
    .visual .slick-next {
        display: none !important;
        /* css 적용 우선순위 상관없이 무조건 먼저 실행하도록 하는 명령
        important
        -- 단 주의 하나의 요소에 pc버전에서 important,
           모바일에서 important 이렇게 남발하면 스타일이 꼬임 */
    }
}/*@media*/

@media screen and (max-width:768px){
        .visual .popup .popup_wrap .popup_item {
            height: 600px;
        }
        .visual .popup .popup_wrap .popup_item h3 {
            font-size: 30px;
            padding: 200px 0 10px 0;
        }
        .visual ul.slick-dots {
            bottom: 25px;
        }

}/*@media*/