@import url(default.css);
@import url(font.css);
@import url(common_full.css);

.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual .popup .popup_wrap .popup_item {
    height: 800px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .popup .popup_wrap .popup_item.bg1 {
    background-image: url(../images/popup01.jpg);
}
.visual .popup .popup_wrap .popup_item.bg2 {
    background-image: url(../images/popup02.jpg);
}
.visual .popup .popup_wrap .popup_item.bg3 {
    background-image: url(../images/popup03.jpg);
}
.visual .popup .popup_wrap .popup_item h3 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    padding: 324px 0 20px 0;
}

.visual .slick-prev,
.visual .slick-next {
    position: absolute; /* popup_wrap으로 기준 정렬 */
    left: 20px;
    top: 368px;
    z-index: 10;
    width: 30px;
    height: 50px;
    color: transparent; /* 글자를 안보이게 */
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_113_153' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_113_153)'%3E%3Cpath d='M33.3333 45.8333L12.5 25L33.3333 4.16663L37.0312 7.86454L19.8958 25L37.0312 42.1354L33.3333 45.8333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .slick-next {
    left: auto;
    right: 20px;
    transform: rotate(180deg);
}

.visual ul.slick-dots {
    position: absolute; /* popup_wrap을 기준으로 정렬 */
    right: 50%;
    bottom: 40px;
    display: flex; /* li를 좌우로 배치 */
    gap: 5px;
}
.visual ul.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: transparent; /* 글자색 투명 - 글자 안보이게 */
}
.visual ul.slick-dots li.slick-active button {
    background-color: #fff;
}
.visual .btn_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% + 10px);
    bottom: 30px;
    display: flex; /* js에서 요소에 display:inline-block을 줘서 코딩이 틀어짐 */
}
.visual .btn_wrap .ctrl_stop {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_135_13' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_135_13)'%3E%3Cpath d='M8.16667 11.0834V2.91675H10.5V11.0834H8.16667ZM3.5 11.0834V2.91675H5.83333V11.0834H3.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .ctrl_play {
    display: none; /* 처음에는 숨김 */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='white'/%3E%3Cmask id='mask0_145_5' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='3' width='14' height='14'%3E%3Crect x='3.5' y='3.5' width='13' height='13' fill='white' stroke='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_145_5)'%3E%3Cpath d='M14.0605 9.99976L7.67969 14.0603V5.93921L14.0605 9.99976Z' fill='white' stroke='white' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1440px){
    .visual .slick-prev,
    .visual .slick-next {
        display: none !important;
        /* css 적용 우선순위 상관없이 무조건 먼저 실행하도록 하는 명령
        important
        -- 단 주의 하나의 요소에 pc버전에서 important,
           모바일에서 important 이렇게 남발하면 스타일이 꼬임 */
    }
}/*@media*/

@media screen and (max-width:768px){
        .visual .popup .popup_wrap .popup_item {
            height: 600px;
        }
        .visual .popup .popup_wrap .popup_item h3 {
            font-size: 30px;
            padding: 200px 0 10px 0;
        }
        .visual ul.slick-dots {
            bottom: 25px;
        }
}/*@media*/

.biz {
    margin: 145px 0 0 0;
}
.biz .tit h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
}
.biz .list {
    margin: 40px 0 0 0;
    width: calc(100% + 24px);
}
.biz .list .list_wrap .list_item {
    margin-right: 24px;
}
.biz .list .list_wrap .list_item a {
    display: block;
}
.biz .list .list_wrap .list_item a .photo {
    overflow: hidden;
    height: 220px;
}
.biz .list .list_wrap .list_item a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list .list_wrap .list_item a h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 20px 0 13px 0;
}

@media screen and (max-width:768px){
        .biz {
            margin: 70px 0 0 0;
        }
        .biz .tit h2 {
            font-size: 25px;
        }
        .biz .list {
            margin: 25px 0 0 0;
            width: calc(100% + 15px);
        }
        .biz .list .list_wrap .list_item {
            margin-right: 15px;
        }
        .biz .list .list_wrap .list_item a .photo {
            height: 200px;
        }
        .biz .list .list_wrap .list_item a h3 {
            font-size: 20px;
            margin: 15px 0 9px 0;
        }
}

.notice {
    background-color: #1446B1;
    color: #fff;
    margin: 145px 0 0 0;
    padding: 175px 0 120px 0;
}
.notice .tit h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
}
.notice .list {
    margin: 50px 0 0 0;
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    /* wrapper 1260px의 절반 630px */
}
.notice .list .list_wrap .list_item {
    width: 400px;
    margin-right: 24px;
}
.notice .list .list_wrap .list_item a {
    display: block;
    background-color: #fff;
    border-radius: 30px;
    color: #555;
}
.notice .list .list_wrap .list_item a .photo {
    overflow: hidden;
    height: 325px;
    border-radius: 30px 30px 0 0;
}
.notice .list .list_wrap .list_item a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice .list .list_wrap .list_item a .txt {
    padding: 44px 30px;
}
.notice .list .list_wrap .list_item a .txt h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 13px 0;
}

@media screen and (max-width:1300px){
    .notice .list {
        width: calc(100% - 20px);
        left: 20px;
    }
}/*@media*/

@media screen and (max-width:768px){
        .notice {
            background-color: #1446B1;
            color: #fff;
            margin: 145px 0 0 0;
            padding: 175px 0 120px 0;
        }
        .notice .tit h2 {
            font-size: 25px;
        }
        .notice .list .list_wrap .list_item {
            margin-right: 15px;
        }
        .notice .list .list_wrap .list_item a {
            border-radius: 10px;
        }
        .notice .list .list_wrap .list_item a .photo {
            height: 200px;
            border-radius: 10px 10px 0 0;
        }
        .notice .list .list_wrap .list_item a .txt {
            padding: 25px 20px;
        }
        .notice .list .list_wrap .list_item a .txt h3 {
            font-size: 20px;
            margin: 0 0 8px 0;
        } 
}

footer {
    margin: 500px 0 0;
}