@import url(default.css);
@import url(font.css);
@import url(common_full.css);

.visual .swiper {
    height: 800px;
}
.visual .swiper-slide {
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/popup01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/popup02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/popup03.jpg);
}
.visual h3 {
    font-size: 50px;
    font-weight: 800;
    padding: 327px 0 10px 0;
}
.visual .paging {
    position: absolute; /* swiper를 기준으로 */
    left: 0;
    bottom: 32px;
    z-index: 10;
    width: 100%;
    display: flex; /* span태그 좌우 배치 */
    justify-content: space-between; /* 가운데 */
    gap: 5px;
}
.visual .paging .swiper-paination-bullet { /* 동그라미 기본 스타일 */
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0;
    background: none;
    opacity: 1;
}
.visual .paging .swiper-paination-bullet.swiper-paination-bullet-active {
    /* 현재 팝업 동그라미 */
    background-color: #fff;
    
}
.visual .btn_prev {
    position: absolute; /* swiper */
    left: 30px;
    top: 368px;
    z-index: 10;
    width: 30px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_95_77' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_95_77)'%3E%3Cpath d='M33.3333 45.8333L12.5 25L33.3333 4.16666L37.0313 7.86457L19.8958 25L37.0313 42.1354L33.3333 45.8333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.visual .btn_next {
    position: absolute; /* swiper */
    right: 20px;
    top: 368px;
    z-index: 10;
    width: 30px;
    height: 70px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_95_80' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_95_80)'%3E%3Cpath d='M16.7184 45.8333L13.0205 42.1354L30.1559 25L13.0205 7.86459L16.7184 4.16667L37.5518 25L16.7184 45.8333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width:1440px){
    .visual .btn_prev,
    .visual .btn_next {
        display: none; /* 숨김 */
    }
}

@media screen and (max-width:768px){
                .visual .swiper-slide {
                    height: 800px;
                }
                .visual h3 {
                    font-size: 30px;
                    padding: 200px 0 10px 0;
                }
                .visual .paging {
                    bottom: 30px;
                }
}/*@media*/

.biz {
    margin: 285px 0 0 0;
}
.biz .tit h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
}
.biz .list {
    margin: 40px 0 0 0;
}
.biz .list ul li a {
    display: block;
}
.biz .list ul li a.photo {
    overflow: hidden;
    height: 220px;
}
.biz .list ul li a.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 20px 0 15px 0;
}
@media screen and (max-width:768px){
    .biz {
        margin: 285px 0 0 0;
    }
    .biz .tit h2 {
        font-size: 50px;
    }
    .biz .list {
        margin: 40px 0 0 0;
    }
    .biz .list ul li a {
        display: block;
    }
    .biz .list ul li a.photo {
        overflow: hidden;
        height: 220px;
    }
    .biz .list ul li a.photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .biz .list ul li a h3 {
        font-size: 20px;
        margin: 15px 0 10px 0;
    }
}/*@media*/

.notice {
    background-color: #1446B1;
    color: #fff;
    padding: 175px 0 120px 0;
    margin: 145px 0 0 0;
}
.notice h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
}
.notice .list {
    margin: 47px 0 0 0;
    width: calc(50% + 630px);
    /* wrapper사이즈 1260px의 절반 630px 더함 */
    position: relative;
    left: calc(50% - 630px);
}
.notice .list ul li {
    width: 530px;
}
.notice .list ul li a {
    display: block;
    background-color: #fff;
    color: #1d1d1d;
    border-radius: 30px;
}
.notice .list ul li a .photo {
    overflow: hidden;
    height: 320px;
    border-radius: 30px 30px 0 0;
}
.notice .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice .list ul li a .txt {
    padding: 45px 30px;
}
.notice .list ul li a .txt h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 15px 0;
}
@media screen and (max-width:1300px){
    .notice .list {
        width: calc(100% - 20px);
        left: 20px;
    }
}/*@media*/
@media screen and (max-width:768px){
    .notice {
        padding: 75px 0 55px 0;
        margin: 90px 0 0 0;
    }
    .notice h2 {
        font-size: 25px;
    }
    .notice .list {
        margin: 47px 0 0 0;
    }
    .notice .list ul li {
        width: 250px;
    }
    .notice .list ul li a {
        border-radius: 10px;
    }
    .notice .list ul li a .photo {
        height: 200px;
        border-radius: 10px 10px 0 0;
    }
    .notice .list ul li a .txt {
        padding: 25px 20px;
    }
    .notice .list ul li a .txt h3 {
        font-size: 20px;
        margin: 0 0 8px 0;
    }
}/*@media*/
footer {
    margin: 500px 0 0 0;
}